<div class="card__actions">
  <button type="button" class="btn">
    <a href="/clients/productDetails/<%= product._id %>"> Details</a>
  </button>
  <form action="/clients/cart/?user=<%= userId %>" method="post">
    <input type="text" value="<%= product._id %>" id="proID" style="display: none" name="proID" />
    <input type="number" value="<%= product.price %>" id="proPrice" style="display: none" name="proPrice" />
    <% if (path !=='/index' ) { %>
      <button class="btn" type="submit">Add to Cart</button>
      <% } %>
  </form>
</div>