<div class="card__actions">
  <button type="button" class="btn">
    <a href="/productDetails/<%= product.id %>"> Details</a>
  </button>

  <form action="/cart" method="post">
    <label for="proID"> Product ID : </label>
    <input
      type="text"
      value="<%= product.id %>"
      id="proID"
      style="display: none"
      name="proID"
    />
    <button class="btn" type="submit">Add to Cart</button>
  </form>
</div>
