extends layouts/main.pug
block styles
        title #{title}
        link(rel="stylesheet", href="/css/main.css")
        link(rel="stylesheet", href="/css/form.css")
        link(rel="stylesheet", href="/css/product.css")
block content
    main
        form.product-form(action="/admin/products" ,method="POST")
            .form-control
                label.form-control(for="title") Title
                input(type="text", name="title")#title
            button.btn(type="submit") Add Product
